@media print {
    .encashment-index table {
        border: 0px solid rgb(221, 221, 221);
        box-sizing: border-box;
        border-spacing: 0;
    }
    .encashment-index table tr {
        border-color: rgb(221, 221, 221);
        box-sizing: border-box;
        font-family: Open Sans;
        font-weight: 300;
        font-size: 16px;
        color: #000000;
        -webkit-font-smoothing: antialiased;
    }
    .encashment-index table td {
        border: 1px solid rgb(221, 221, 221);
        border-collapse:  collapse;
        text-align: center;
        text-size-adjust: 100%;
        vertical-align: middle;
        white-space: nowrap;
        padding: 8px;
    }
    .encashment-index table td input {
        display: inline-block!important;
        text-align: center!important;
        border: 0;
    }
    .encashment-index table th {
        border: 1px solid rgb(221, 221, 221);
    }
    .encashment-index table td.banknote-nominals-cell,
    .encashment-index table tr.invisible td,
    .encashment-index table thead th:nth-child(1) {
        border: 0;
    }
    .encashment-general-summary {
        text-align: center;
    }
    .encashment-general-summary table {
        margin-left: auto;
        margin-right: auto;
    }
}