html,
body {
    height: 100%;
    font-family: "Open Sans";
    font-weight: 300;
    font-size: 16px;
    color: #000000;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav > li > form {
    padding: 8px;
}

@media(max-width:768px) {
    .nav li > form {
        padding: 3px;
    }
}

.nav > li > form > button:hover {
    text-decoration: none;
}

div.required label:after {
    content: " *";
    color: #ff0000;
}

/* Article style */
.article-item {
    margin-bottom: 15px;
}

.article-item .article-title,
.article-item .article-title a {
    color: inherit;
    margin: 0;
}

.article-item .article-meta,
.article-item .article-meta a {
    color: #7e7e7e;
    font-size: 11px;
    margin-bottom: 2px;
}

.article-item .article-text {
    margin-top: 7px;
}
/* Menu */
 
.menu {
  background: #555;
  left: -285px; /* прячем меню */
  height: 100%;
  position: fixed;
  width: 285px;
  z-index:9999;
  margin-top:-205px;
}
 
/* Basic CSS */

.menu ul {
  border-top: 1px solid #555;
  list-style: none;
  margin: 0;
  padding: 0;
}
 
.menu li {
  border-bottom: 1px solid #555;
  font-family: 'Open Sans', sans-serif;
  line-height: 35px;
  padding-bottom: 3px;
  padding-left: 20px;
  padding-top: 3px;
  color: #fff;
}
 
.menu li:hover {
  cursor: pointer;
  background-color: #555;
  }
 
.menu a {
  color: #fff;
  font-size: 15px;
  text-decoration: none;
  text-transform: uppercase;
}
 
.icon-close {
  cursor: pointer;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 6px;

}
 
.icon-menu {
  color: #fff;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  padding-bottom: 25px;
  padding-left: 25px;
  padding-top: 25px;
  text-decoration: none;
  text-transform: uppercase;
}
 
.icon-menu img {
  margin-right: 5px;
  height: 25px;
  width: 25px;
}
.monitoring .filters {
  display: none;
}
.monitoring .mashine-state-addons {
  margin-top: 10px;
  width: 100%;
  text-align: left;
  color: #28A157;
  margin-left: 4px;
  vertical-align: bottom;
}
.monitoring .mashine-state-addons div {
  float: right;
  padding-right: 6px;
}
.monitoring table td {
    white-space: nowrap!important;
    text-align: center;
    vertical-align: middle!important;
    padding: 3px!important;
}
.monitoring table td.all {
    vertical-align: top!important;
    margin: 0!important;
    padding: 0!important;
}
.monitoring table th {
    text-align: center;
    vertical-align: middle!important;
}
.monitoring td.remote-connection table td {
    padding: 6px!important;
}
.monitoring td.common {
    display: inline-block;
    width: auto;
    min-width: 430px;
    white-space: normal!important;
    text-align: center!important;
    padding: 1px!important;
}
.monitoring td.common table td {
    padding: 17px!important;
}
.monitoring td.devices table td {
    padding: 1px!important;
}
.monitoring table {
    vertical-align: top!important;
    margin-bottom: 0;
    z-index: 1000;
    position: relative;
}
.monitoring .table-bill-acceptance td {
    padding-top: 33px!important;
    padding-bottom: 34px!important;
}
.monitoring #table-software-versions td {
    padding-top: 16px!important;
    padding-bottom: 17px!important;
}
.monitoring .table-bill-acceptance, .monitoring .table-software-versions {
    margin: 0;
}
.monitoring .common-container {
    margin: 0;
    position: relative;
}
.monitoring .common-container .header {
    height: 40px;
    border-bottom: 2px solid rgb(221, 221, 221);
    border-right: 1px solid rgb(221, 221, 221);
    border-top: 0px solid rgb(221, 221, 221);
    padding: 0;
    padding-top: 8px;
    font-weight: bold;
    vertical-align: middle;
}
.monitoring .common-container .cell {
    border-bottom: 1px solid rgb(221, 221, 221);
    border-right: 1px solid rgb(221, 221, 221);
    vertical-align: middle;
}
.monitoring .common-container .cell span {
    vertical-align: middle;
}
