.header-container-mn {
    position: fixed;
    width: 100%;
    z-index: 2000;
    margin-bottom: 60px;
}
.header-container-mn .top-menu.container-fluid {
    margin-bottom: 0;
}
.header-container-mn .img-wrapper {
    float: left;
}
.header-container-mn .label-wrapper {
    display: inline-block;
    margin:-6px 0 0 24px;
}
.header-container-mn .burger-menu i.fa-2x {
    visibility: hidden;
}
.wrap .container {
    margin-left: 0;
    margin-right: 0;
    max-width: 100%;
}
.wrap .container > div:nth-child(1) {
    margin-top: 60px;
}
.wrap .container > div.navbar-header {
    margin-top: 0;
}
.monitoring-new .popup-block,
.summary-journal .popup-block {
    position:  relative;
    cursor: pointer;
}
.monitoring-new .popup-block img,
.summary-journal .popup-block img {
    height: 28px;
    width: 36px;
    margin-top: -5px;
    margin-bottom: -5px;
}
.monitoring-new .popup-block > .label,
.summary-journal .popup-block > .label,
.jlog-index .jlog-item .label {
    position: absolute;
    background: #fff;
    color: black;
    left: 0;
    padding: 4px;
    border: 1px solid black;
    z-index: 1000;
    visibility: hidden;
}
.monitoring-new .popup-block:hover > .label,
.summary-journal .timestamp.white-color:not([class*=not-set-income]):hover .label,
.summary-journal .timestamp.address-green-color:hover .label,
.summary-journal .timestamp.address-red-color:hover .label,
.summary-journal .timestamp.light-grey:hover .label,
.summary-journal .timestamp.middle-grey:hover .label,
.summary-journal .timestamp.heavy-grey:hover .label,
.summary-journal .timestamp.dark-grey:hover .label,
.summary-journal .timestamp.cancelled:hover .label,
.jlog-index .jlog-item:hover .label {
    visibility: visible;
    cursor: pointer;
}

.header-container-mn .search input, .monitoring-new .search input,
.header-container-mn .search input, .monitoring-new .search select {
    margin-left: 0;
    min-width: 270px;
}
.monitoring-new .monitoring-filter-form .tab-navs,
.monitoring-new .monitoring-filter-form .search {
    display: none;
}
.fa, .far, .fas {
    font-family: "Font Awesome 5 Free";
}

.monitoring-new .font12.ping-not-actual i.fa-circle.color-green {
    color: #a9a9a9;
}
.monitoring-new .font12.error i.fa-circle {
    color: red!important;
}
.monitoring-new span.font12 span.ping-actual,
.monitoring-new span.font12 span.ping-not-actual {
    white-space: nowrap;
}
.monitoring-new .font12 {
    line-height: 1.0;
}
.monitoring-new .wm-mashine-link {
    text-decoration: none;
    color: inherit;
}
.monitoring-new .bold-border {
    border-bottom: 2px solid grey;
}
.monitoring-new .width-restrict {
    max-width: 150px!important;
    padding-right: 2px!important;
    padding-left: 2px!important;
}
.monitoring-new .height40 {
    height: 40px;
}
.monitoring-new .inline-adjustment {
    display: inline-block;
    margin-left: -7px;
}
.monitoring-new .header-block .dropup,
.monitoring-new .header-block .dropdown {
    cursor: pointer;
}
.monitoring-new .header-block .dropup.active,
.monitoring-new .header-block .dropdown.active {
    cursor: pointer;
    font-weight: bold;
}
.monitoring-new .ping-actual {
    font-weight: normal;
}

.monitoring-new .ping-actual.label {
    background-color: #228B22;
    color: white;
    font-weight: normal;
    padding: 0;
}
.monitoring-new .ping-not-actual.label {
    background-color: #a9a9a9;
    color: white;
    font-weight: normal;
    padding: 0;
}
.monitoring-new .color-red.label {
    background-color: red;
    color: white;
    font-weight: normal;
    padding: 0;
}
.monitoring-new img.fullness-icon,
button.actions-btn img {
    width: 18px;
    height: 18px;
    margin-left: -3px;
}
.monitoring-new .no-connection {
    color: white;
    border-bottom-left-radius: 4.56px;
    border-bottom-right-radius: 4.56px;
    background-color: rgb(169, 169, 169);
    height: 100%;
}
b .net-manager-new.sub-menu {
    font-weight: normal;
}
.net-manager-new .width80 {
    min-width: 80px;
}
.net-manager-new .hidden-row {
    display: none;
}
.net-manager-new #createuser,
.net-manager-new #editcoworker,
.net-manager-new #del-coworker {
    z-index: 2000;
}
.net-manager-new .coworker-card .media img {
    max-width: 100px;
    max-height: 100px;
}
.net-manager-new .coworker-card {
    padding-left: 14px!important;
}
.net-manager-new .change-avatar-block label,
.net-manager-new .glyphicon {
    display: none;
}
.net-manager-new #editcoworker .avatar-img {
    max-width: 40px;
    max-height: 40px;
    overflow: hidden;
}
.net-manager-new #editcoworker .avatar-img img {
    max-height: 100%;
    max-width: 100%;
}
.net-manager-new .user-edit-employee #editcoworker .change-btn {
    width: 100%;
    text-align: center;
}
.net-manager-new .user-edit-employee #editcoworker .change-btn button {
    max-width: 50%;
    margin: auto;
}
.net-manager-new .user-edit-employee #editcoworker .field-userform-roles,
.net-manager-new .user-edit-employee #editcoworker .input-group-btn {
    display: none;
}
.net-manager-new #modal-crop {
    opacity: 1;
}
body {
    padding-right: 0!important;
}
body.modal-open {
    overflow: visible!important;
}
.jlog-index {
    margin: 0 15px;
    padding-left: 20px;
}
.jlog-index .table-responsive table th {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
    padding: 4.8px;
    vertical-align: bottom;
    color: rgb(33, 37, 41);
    border-style: solid;
    border-width: 2px;
    border-color: rgb(222, 226, 230);
    
}
.jlog-index .journal-filter-form label,
.jlog-index .table-responsive .summary-shapter-for-status,
.jlog-index .table-responsive .summary {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
    padding: 2px;
    vertical-align: bottom;
    color: rgb(33, 37, 41);
}
.jlog-index .journal-filter-form label.log-setting {
    display: inline-block;
    vertical-align: baseline;
}
.jlog-index .journal-filter-form input,
.jlog-index .journal-filter-form select {
    padding: 6px 8px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(222, 226, 230);
    margin-left: 16px;
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
}
.jlog-index .table-responsive table td {
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding: 4.8px;
}
.jlog-index h1 {
    font-family: 'PT Sans', sans-serif;
    font-size: 28px;
    font-weight: 500;
    margin-left: 20px;
}
.jlog-index table.table-striped tr:nth-child(2n+1) {
    background-color: rgba(0, 0, 0, 0.05);
}
.jlog-index table.table-striped {
    margin-bottom: 10px;
}
.jlog-index .pagination {
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    position: absolute;
    padding-top: 20px;
    margin-top: 0;
    max-width: 100%;
}
.jlog-index.map-index .pagination,
.jlog-index.map-user .pagination {
    width: 90%;
}
.jlog-index .pagination > li > a {
    color: rgb(0, 0, 0);
}
.jlog-index .table-responsive {
    min-height: 450px;
    overflow-y: visible!important;
    border-width: 0;
}
.jlog-index.map-index .table-responsive,
.jlog-index.map-user .table-responsive {
    min-height: auto;
}
.jlog-index.map-index,
.jlog-index.map-user {
    margin-left: 0;
}
.wrap .container {
    max-width: 100%;
}
.width100 {
    width: 100%;
}
.ui-autocomplete {
    display: inline-block;
    max-width: 450px;
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
}
.map-shapter .container-fluid {
    padding: 0;
}
.map-shapter .tab-navs {
    border-bottom-width: 0!important;
}
.map-shapter .tab-navs a {
    padding-bottom: 4px!important;
    border-bottom-width: 0!important;
    text-decoration: none!important;
}
.map-shapter .tab-navs a.active {
    border-bottom-width: 2px!important;
}
.map-user .table-responsive tr.filters,
.map-index .table-responsive tr.filters,
.map-cardofcard .table-responsive tr.filters {
    display: none;
}
.container.timestamp-interval-block {
    width: 100%;
}
.jlog-index.map-index .map-cardofcard table th.card,
.jlog-index.map-index .map-cardofcard table td.card,
.jlog-index.map-user table th.user,
.jlog-index.map-user table td.user,
.jlog-index.map-index table th.actions,
.jlog-index.map-index table td.actions {
    display: none;
}
.block-user-dv .modal-content {
    padding: 15px;
}
.nav a.add-card,
.nav a.add-card:focus,
.nav a.add-card:visited,
.nav a.add-card:active {
    outline: 0;
    border: none;
    cursor: pointer;
    -moz-outline-style: none;
}
.nav .add-card, .nav .add-card .add-card-label {
    position: relative;
    z-index: 4000;
}
.nav .add-card .block {
    text-align: center;
    margin: 12px 4px;
    padding: 4px;
}
.nav .add-card .block-info {
    background-color: rgb(217, 237, 247);
    color: rgb(49, 112, 143);
}
.nav .add-card .block-error {
    background-color: rgb(242, 222, 222);
    color: rgb(169, 68, 66);
}
.nav .block-user-dv {
    position: absolute;
    left: 20px;
    top: 25px;
    z-index: 3000;
    color: rgb(0, 0, 0);
}
.user-edit-employee .modal-footer button {
    display: inline;
    width: 49%;
    margin-top: 0;
}
.card-index table thead tr {
    background-color: #6591f7!important;
}
.card-index table thead tr a,
.transaction-index table thead tr a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}
.card-index table tbody tr:nth-child(2n) {
    background-color: #e8effe;
}
.transaction-index table thead tr {
    background-color: #3da698!important;
}
.transaction-index table tbody tr:nth-child(2n) {
    background-color: #def2ef;
}
.card-index table tbody tr:nth-child(2n+1),
.transaction-index table tbody tr:nth-child(2n+1) {
    background-color: white!important;
}
@media all and (max-width: 468px) {
    .net-manager-new .coworkers__create-user {
        overflow: hidden;
    }
    .net-manager-new .coworkers__create-user input {
        max-width: 305px!important;
        padding-left: 30px!important;
        padding-right: 5px;
    }
}
@media all and (max-width: 767px) {
    .header-container-mn .user-actions {
        right: 16%;
    }
    .jlog-index .table-responsive .summary-shapter-for-status,
    .jlog-index .table-responsive .summary {
        background-color: white;
        margin: -2px;
        padding-bottom: 12px;
        width: 104%;
        display: block;
    }
    .jlog-index .pagination {
        padding-left: 15px;
        padding-right: 15px;
    }
    .nav .block-user-dv {
        position: absolute;
        left: 0;
        top: 22px;
        z-index: 3000;
        color: rgb(0, 0, 0);
        width: 55%;
    }
}
@media all and (min-width: 768px) {
    .header-container-mn .user-actions {
        right: 10%;
    }
    .jlog-index .table-responsive .summary-shapter-for-status,
    .jlog-index .table-responsive .summary {
        margin-bottom: 16px;
        display: block;
    }
}