html,
body {
    height: 100%;
    font-family: "Open Sans";
    font-weight: 300;
    font-size: 16px;
    color: #000000;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
    font-size: 13px;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.grid-view-filter-form .filter-prompt {
    min-width: 70px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav > li > form {
    padding: 8px;
}

@media(max-width:768px) {
    .nav li > form {
        padding: 3px;
    }
}

.nav > li > form > button:hover {
    text-decoration: none;
}

div.required label:after {
    content: " *";
    color: #ff0000;
}

/* Article style */
.article-item {
    margin-bottom: 15px;
}

.article-item .article-title,
.article-item .article-title a {
    color: inherit;
    margin: 0;
}

.article-item .article-meta,
.article-item .article-meta a {
    color: #7e7e7e;
    font-size: 11px;
    margin-bottom: 2px;
}

.article-item .article-text {
    margin-top: 7px;
}
/* Menu */
 
.menu {
  background: #555;
  left: -285px; /* прячем меню */
  height: 100%;
  position: fixed;
  width: 285px;
  z-index:9999;
  margin-top:-205px;
}
 
/* Basic CSS */

.menu ul {
  border-top: 1px solid #555;
  list-style: none;
  margin: 0;
  padding: 0;
}
 
.menu li {
  border-bottom: 1px solid #555;
  font-family: 'Open Sans', sans-serif;
  line-height: 35px;
  padding-bottom: 3px;
  padding-left: 20px;
  padding-top: 3px;
  color: #fff;
}
 
.menu li:hover {
  cursor: pointer;
  background-color: #555;
  }
 
.menu a {
  color: #fff;
  font-size: 15px;
  text-decoration: none;
  text-transform: uppercase;
}
 
.icon-close {
  cursor: pointer;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 6px;

}
 
.icon-menu {
  color: #fff;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  padding-bottom: 25px;
  padding-left: 25px;
  padding-top: 25px;
  text-decoration: none;
  text-transform: uppercase;
}
 
.icon-menu img {
  margin-right: 5px;
  height: 25px;
  width: 25px;
}
.company-summary-block font {
    font-weight: 500;
}
.monitoring .filters, .summary-journal .filters,
.employees-list .filters {
  display: none;
}
.monitoring .mashine-state-addons {
  color: #28A157;
  white-space: normal;
}
.monitoring .address-serial-number {
    width: 100%;
    background: transparent;
    border-width: 1px;
    text-align: center;
}
.monitoring .address-serial-number:hover {
    border-width: 2px;
}
.monitoring table td {
    white-space: nowrap!important;
    text-align: center;
    vertical-align: middle!important;
    padding: 3px!important;
}
.monitoring td.devices table td.current-status {
    white-space: normal!important;
}
.monitoring table td.all, .summary-journal table td.all {
    vertical-align: top!important;
    margin: 0!important;
    padding: 0!important;
}
.monitoring table th, .summary-journal table th {
    text-align: center;
    vertical-align: middle!important;
}
.monitoring td.remote-connection table td {
    padding: 6px!important;
}
.monitoring td.common {
    display: inline-block;
    width: auto;
    min-width: 330px;
    white-space: normal!important;
    text-align: center!important;
    padding: 1px!important;
}
.monitoring td.common table td {
    padding: 17px!important;
}
.monitoring td.devices table td {
    padding: 1px!important;
}
.monitoring td.cell-financial {
    width: 70px;
}
.monitoring td.current-status {
    width: 140px!important;
    max-width: 140px!important;
    min-width: 140px!important;
    white-space: normal!important;
}
.monitoring td.level-signal,
.monitoring td.bill-cash,
.monitoring td.cell-device {
    width: 55px!important;
    min-width: 55px!important;
    max-width: 55px!important;
    white-space: normal!important;
}
.monitoring table {
    vertical-align: top!important;
    margin-bottom: 0;
    z-index: 1000;
    position: relative;
}
.monitoring .table-bill-acceptance td {
    padding-top: 33px!important;
    padding-bottom: 34px!important;
}
.monitoring #table-software-versions td {
    white-space: normal!important;
    min-width: 150px;
    max-width: 150px;
    width: 150px;
    padding: 0;
}
.monitoring .table-bill-acceptance, .monitoring .table-software-versions {
    margin: 0;
}
.monitoring .table-bill-acceptance,
.monitoring td.financial table{
    z-index: 1001;
}
.monitoring .common-container {
    margin: 0;
    position: relative;
}
.monitoring .common-container .header {
    height: 41px;
    border-bottom: 2px solid rgb(221, 221, 221);
    border-right: 1px solid rgb(221, 221, 221);
    border-top: 0px solid rgb(221, 221, 221);
    padding: 0;
    padding-top: 8px;
    font-weight: bold;
    vertical-align: middle;
}
.monitoring .common-container .cell {
    border-bottom: 1px solid rgb(221, 221, 221);
    border-right: 1px solid rgb(221, 221, 221);
    vertical-align: middle;
    padding-left: 1px;
    padding-right: 1px;
}
.monitoring .common-container .cell span {
    vertical-align: middle;
}
.monitoring .common-container-block .header {
    border-top: 2px solid rgb(221, 221, 221);
    border-left: 1px solid rgb(221, 221, 221);
}
.monitoring .popup-block,
.summary-journal .popup-block {
    position:  relative;
    cursor: pointer;
}
.monitoring .popup-block img,
.summary-journal .popup-block img {
    height: 28px;
    width: 36px;
    margin-top: -5px;
    margin-bottom: -5px;
}
.monitoring .popup-block > .label,
.summary-journal .popup-block > .label{
    position: absolute;
    background: #fff;
    color: black;
    left: 0;
    padding: 4px;
    border: 1px solid black;
    z-index: 1000;
    visibility: hidden;
}
.monitoring .popup-block:hover > .label,
.summary-journal .timestamp.white-color:not([class*=not-set-income]):hover .label,
.summary-journal .timestamp.light-grey:hover .label,
.summary-journal .timestamp.middle-grey:hover .label,
.summary-journal .timestamp.heavy-grey:hover .label,
.summary-journal .timestamp.dark-grey:hover .label,
.summary-journal .timestamp.cancelled:hover .label {
    visibility: visible;
    cursor: pointer;
}
.monitoring td.financial table thead th.financial {
    display: block!important;
    margin-top: -40px;
    padding-top: 48px;
    border-right: 0px solid rgb(221, 221, 221);
    border-top: 0px solid rgb(221, 221, 221);
    border-bottom: 0px solid rgb(221, 221, 221);
}
.monitoring table:nth-child(1) td {
    border: 0;
}
.monitoring td.devices table td,
.monitoring td.terminal table td,
.monitoring td.financial table td {
    border: 1px solid rgb(221, 221, 221);
}
.monitoring .table-financial, .summary-journal table {
    width: auto;
}
.monitoring .table-financial td.common {
    width: 330px;
}
.monitoring .table-actions td {
    white-space: normal!important;
    min-height: 51px!important;
    max-height: 51px!important;
    height: 51px!important;
    padding-top: 2px!important;
    padding-bottom: 2px!important;
}
.monitoring .table-actions td.small {
    min-height: 25px!important;
    max-height: 25px!important;
    height: 25px!important;
    font-weight: bold;
}
.enhanced-z-index {
    position: relative;
    z-index: 1020;
}
.ping-actual {
    color: #228B22;
    font-weight: 600;
}
.ping-not-actual {
    color: #a9a9a9;
    font-weight: normal;
}
.summary-journal table.table-container,
.summary-journal td.address-container table {
    height: 100%!important;
    margin-bottom:  0;
}
.summary-journal table td.address-container,
.summary-journal table.table-container table.mashine-numbers,
.summary-journal table.table-container td.mashine-numbers-cell {
    padding: 0;
}
.summary-journal table td {
    text-align: center;
}
.summary-journal table td.address-container table,
.summary-journal .table-income,
.summary-journal .table-summary-addresses,
.summary-journal .table-average-summary-addresses,
.summary-journal .table-average-mashine-summary-addresses,
.summary-journal .table-average-citizens-summary-addresses,
.summary-journal .table-consolidated-summary-addresses,
.summary-journal .table-expectation,
.summary-journal .table-expectation-by-balance-holders,
.summary-journal .table-idle-days,
.summary-journal .table-idle-damages,
.summary-journal .table-summary-conclusion {
    width: 100%;
    margin-top: -2px!important;
    margin-bottom : 0!important;
    padding: 0!important;
}
.summary-journal .table-income
 {
    width: 100%;
    margin-top: -1px!important;
    margin-bottom : 0!important;
    padding: 0!important;
}
.summary-journal .table-serial-column,
.summary-journal .table-month {
    width: 100%;
    margin-top: 0!important;
    margin-bottom : 0!important;
    padding: 0!important;
}
.summary-journal .table-month {
    margin-bottom: -6px!important;
}
.summary-journal table td.address-container table td.address {
    width: 240px!important;
    min-width: 240px!important;
    max-width: 240px!important;
}
.summary-journal table td.address-container table td.mashine-count,
.summary-journal .table-container .total-mashines-count {
    width: 35px!important;
    min-width: 35px!important;
    max-width: 35px!important;
    padding: 5px!important;
}
.summary-journal  .main-table th.incomes {
    padding: 0;
}
.summary-journal .table-month td,
.summary-journal .table-income td {
    width: 45px!important;
    min-width: 45px!important;
    max-width: 45px!important;
}
.summary-journal .table-summary-addresses,
.summary-journal .table-average-summary-addresses,
.summary-journal .table-average-mashine-summary-addresses,
.summary-journal .table-average-citizens-summary-addresses,
.summary-journal .table-consolidated-summary-addresses,
.summary-journal .table-expectation,
.summary-journal .table-expectation-by-balance-holders,
.summary-journal .table-idle-days,
.summary-journal .table-idle-damages,
.summary-journal .table-summary-conclusion {
    margin-top: -1px!important;
}
.summary-journal .table-container {
    font-weight: bold;
}
.summary-journal .green-color,
.summary-journal .timestamp.green-color.light-grey,
.summary-journal .timestamp.green-color.middle-grey,
.summary-journal .timestamp.green-color.heavy-grey,
.summary-journal .timestamp.green-color.dark-grey {
    background-color: #00C251;
}
.summary-journal .red-color,
.summary-journal .timestamp.red-color.light-grey,
.summary-journal .timestamp.red-color.middle-grey,
.summary-journal .timestamp.red-color.heavy-grey,
.summary-journal .timestamp.red-color.dark-grey {
    background-color: red;
}
.summary-journal .green-color.red-color,
.summary-journal .timestamp.green-color.red-color.light-grey,
.summary-journal .timestamp.green-color.red-color.middle-grey,
.summary-journal .timestamp.green-color.red-color.heavy-grey,
.summary-journal .timestamp.green-color.red-color.dark-grey {
    background-color: #ffcc66;
}
.summary-journal .timestamp.light-grey {
    background-color: #d3d3d3;
}
.summary-journal .timestamp.middle-grey {
    background-color: #c0c0c0;
}
.summary-journal .timestamp.heavy-grey {
    background-color: #a9a9a9;
}
.summary-journal .timestamp.dark-grey {
    background-color: #696969;
}

.summary-journal .timestamp.blue-color,
.summary-journal .mashine-count.blue-color,
.summary-journal .mashine-number-device.blue-color {
    background-color: #c8dbef;
}

.summary-journal .timestamp.red-color.green-color,
.summary-journal .mashine-count.red-color.green-color,
.summary-journal .mashine-number-device.red-color.green-color {
    background-image: linear-gradient( red 50%, green 50%);
}

.summary-journal .timestamp.red-color.blue-color,
.summary-journal .mashine-count.red-color.blue-color,
.summary-journal .mashine-number-device.red-color.blue-color {
    background-image: linear-gradient( #c8dbef 50%, red 50%);
}

.summary-journal .timestamp.green-color.blue-color,
.summary-journal .mashine-count.blue-color.green-color,
.summary-journal .mashine-number-device.green-color.blue-color {
    background-image: linear-gradient( #c8dbef 50%, green 50%);
}

.summary-journal .timestamp.green-color.blue-color.red-color,
.summary-journal .mashine-count.red-color.blue-color.green-color,
.summary-journal .mashine-number-device.red-color.blue-color.green-color {
    background-image: linear-gradient( #c8dbef 33%, red 33%, red 66%, green 66%);
}

.summary-journal .table-income td.timestamp {
    width: 65px!important;
    min-width: 65px!important;
    max-width: 65px!important;
}
.summary-journal .table-container .table-mashines-count {
    width: 209%;
}
.summary-journal .table-container .table-mashines-count tr td {
    border-top: 1px solid rgb(221, 221, 221);
}
.summary-journal .table-container .table-mashines-count tr td:nth-child(2) {
    border-left: 1px solid rgb(221, 221, 221);
    width: 50px!important;
    height: 38px!important;
    text-align: left!important;
    padding: 3px!important;
}
.summary-journal td.cell-device {
    vertical-align: middle!important;
}
.summary-journal .table-income tr:nth-last-child(2),
.summary-journal .table-summary-addresses tr:nth-last-child(2),
.summary-journal .table-average-summary-addresses tr:nth-last-child(2),
.summary-journal .table-average-mashine-summary-addresses tr:nth-last-child(2),
.summary-journal .table-average-citizens-summary-addresses tr:nth-last-child(2),
.summary-journal .table-expectation tr:nth-last-child(2),
.summary-journal .table-expectation-by-balance-holders tr:nth-last-child(2), 
.summary-journal .table-idle-days tr:nth-last-child(2),
.summary-journal .table-idle-damages tr:nth-last-child(2),
.summary-journal .table-summary-conclusion tr:nth-last-child(2) {
    font-weight: bold;
}
.summary-journal .main-table th.month-days {
    background-color: #ffcc66;
    padding: 0;
}
.summary-journal .main-table th.idle-days,
.summary-journal .main-table th.idle-damages {
    background-color: #ff0000;
    padding: 0;
}
.summary-journal .main-table th.expectation {
    background-color: #b28ec3;
    padding: 0;
}
.summary-journal .by-mashine .table-average-mashine-summary-addresses {
    background-color: #fb585d;
}
.summary-journal .by-mashine .table-average-mashine-summary-addresses tr:nth-last-child(2),
.summary-journal .by-mashine .table-average-mashine-summary-addresses tr:nth-last-child(1) {
    background-color: #fff;
}
.summary-journal td.rest {
    background-color: red;
}
.main-page-model table {
    margin: 0;
    width: 100%;
}
.main-page-model table .device-status-row {
    text-align: left;
}
.main-page-model table .device-statuses {
    vertical-align: top!important;
}
.main-page-model > table > tbody > tr > td.cell-device {
    padding: 0;
}
.main-page-model > table td.cell-device {
    vertical-align: middle;
    text-align: center;
    margin: auto;
    white-space: nowrap;
}
.ui-widget-content {
    position: relative;
    z-index: 10000;
}

.modem-history .modem-history-form-container{
    text-align: center;
}

.logs-index .text-muted.order {
    display: none;
}
