.header-container-mn * , .net-manager-new * , .monitoring-new * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'PT Sans', sans-serif;
}
.header-container-mn .x2 , .net-manager-new .x2 , .monitoring-new .x2 {
  transform: scale(1.3);
}

.header-container-mn .white , .net-manager-new .white , .monitoring-new .white {
  color: #fff;
}
.header-container-mn .bg-lightgrey , .net-manager-new .bg-lightgrey , .monitoring-new .bg-lightgrey {
  background-color: rgba(244, 244, 244, 0.4);
}
.header-container-mn .bg-midgrey , .net-manager-new .bg-midgrey , .monitoring-new .bg-midgrey {
  background-color: #f4f4f4;
}
.header-container-mn .bg-pm1grey , .net-manager-new .bg-pm1grey , .monitoring-new .bg-pm1grey {
  background-color: #f9f9f9;
}
.header-container-mn .color-green , .net-manager-new .color-green , .monitoring-new .color-green {
  color: #4ECA65;
}
.header-container-mn .color-violet , .net-manager-new .color-violet , .monitoring-new .color-violet {
  color: #AB51D5;
}
.header-container-mn .color-red , .net-manager-new .color-red , .monitoring-new .color-red {
  color: #FF5F46;
}
.header-container-mn .red-indicator , .net-manager-new .red-indicator , .monitoring-new .red-indicator {
  background: #FF5F46;
  color: #fff;
  padding: 0 2px;
}
.header-container-mn .green-indicator , .net-manager-new .green-indicator , .monitoring-new .green-indicator {
  background-color: #4ECA65;
  color: #fff;
  padding: 0 2px;
}
.header-container-mn .lightgrey-indicator , .net-manager-new .lightgrey-indicator , .monitoring-new .lightgrey-indicator {
  background-color: #d1d1d1;
  color: #fff;
  padding: 0 2px;
}
.header-container-mn .darkgrey-indicator , .net-manager-new .darkgrey-indicator , .monitoring-new .darkgrey-indicator {
  background-color: #988E8E;
  color: #fff;
  padding: 0 2px;
}
.header-container-mn .bg-green , .net-manager-new .bg-green , .monitoring-new .bg-green {
  background-color: #4eca65;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  padding-left: 5px;
  display: inline-flex;
}
.header-container-mn .bg-red , .net-manager-new .bg-red , .monitoring-new .bg-red {
  background-color: #FC5C5C;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  padding-left: 3px;
  display: inline-flex;
}
.header-container-mn .color-red , .net-manager-new .color-red , .monitoring-new .color-red {
  color: #FC5C5C;
}
.header-container-mn .color-edit , .net-manager-new .color-edit , .monitoring-new .color-edit {
  color: #057DB0;
}
.header-container-mn .red-cell , .net-manager-new .red-cell , .monitoring-new .red-cell {
  background: #FF2525;
  color: #fff;
  padding: 0 2px;
}
.header-container-mn .green-cell , .net-manager-new .green-cell , .monitoring-new .green-cell {
  background-color: #4ECA65;
  color: #fff;
  text-align: center;
}
.header-container-mn .blue-cell , .net-manager-new .blue-cell , .monitoring-new .blue-cell {
  background-color: #D3E8FF;
  text-align: center;
}
.header-container-mn .bluegrey-cell , .net-manager-new .bluegrey-cell , .monitoring-new .bluegrey-cell {
  background-color: #C8DBEF;
  text-align: center;
}
.header-container-mn .lightgrey-cell , .net-manager-new .lightgrey-cell , .monitoring-new .lightgrey-cell {
  background-color: #d3d3d3;
  text-align: center;
}
.header-container-mn .grey-cell , .net-manager-new .grey-cell , .monitoring-new .grey-cell {
  background-color: #c0c0c0;
  text-align: center;
}
.header-container-mn .darkgrey-cell , .net-manager-new .darkgrey-cell , .monitoring-new .darkgrey-cell {
  background-color: #a9a9a9;
  text-align: center;
}
.header-container-mn .violet-cell , .net-manager-new .violet-cell , .monitoring-new .violet-cell {
  background-color: #AB51D5;
  color: #fff;
}
.header-container-mn .violet-color , .net-manager-new .violet-color , .monitoring-new .violet-color {
  color: #AB51D5;
}
.header-container-mn .black-cell , .net-manager-new .black-cell , .monitoring-new .black-cell {
  background-color: #393939;
  color: #fff;
  text-align: center;
}

.header-container-mn p , .net-manager-new p , .monitoring-new p {
  line-height: 1;
}
.header-container-mn .w308 , .net-manager-new .w308 , .monitoring-new .w308 {
  max-width: 308px;
  width: 100%;
}
.header-container-mn .bold , .net-manager-new .bold , .monitoring-new .bold {
  font-weight: 600;
  font-size: 16px;
}
.header-container-mn .white , .net-manager-new .white , .monitoring-new .white {
  color: #fff;
}
.header-container-mn .btn-transparent , .net-manager-new .btn-transparent , .monitoring-new .btn-transparent {
  outline: none;
  background-color: transparent;
  border: none;
}
.header-container-mn span , .net-manager-new span , .monitoring-new span {
  display: block;
}
.header-container-mn .font10 , .net-manager-new .font10 , .monitoring-new .font10 {
  font-size: 1rem;
  line-height: 1.3;
}
.header-container-mn .font12 , .net-manager-new .font12 , .monitoring-new .font12 {
  font-size: 1.14rem;
  line-height: 1.3;
}
.header-container-mn .fw600 , .net-manager-new .fw600 , .monitoring-new .fw600 {
  font-weight: 600;
}
.header-container-mn .fz16 , .net-manager-new .fz16 , .monitoring-new .fz16 {
  font-size: 16px;
}
.header-container-mn .fz22 , .net-manager-new .fz22 , .monitoring-new .fz22 {
  font-size: 22px;
}
.header-container-mn .b1 , .net-manager-new .b1 , .monitoring-new .b1 {
  border: 1px solid #dddddd;
}

.header-container-mn .mobile-menu , .net-manager-new .mobile-menu , .monitoring-new .mobile-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  margin: 0 auto;
  z-index: 99;
  text-align: center;
  background-color: #2BB5EA;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  font-size: 24px;
  height: 90vh;
  width: 100%;
}
.header-container-mn .mobile-menu a , .net-manager-new .mobile-menu a , .monitoring-new .mobile-menu a {
  text-decoration: none;
  color: #fff;
  padding-bottom: 30px;
  display: block;
}
.header-container-mn .mobile-menu a:first-child , .net-manager-new .mobile-menu a:first-child , .monitoring-new .mobile-menu a:first-child {
  padding-top: 50px;
}
.header-container-mn .mobile-menu a:hover , .net-manager-new .mobile-menu a:hover , .monitoring-new .mobile-menu a:hover {
  color: #000;
  font-weight: 600;
}
.header-container-mn .burger-menu , .net-manager-new .burger-menu , .monitoring-new .burger-menu {
  color: #fff;
  padding-left: 20px;
}
.header-container-mn .top-menu , .net-manager-new .top-menu , .monitoring-new .top-menu {
  background-color: #2BB5EA;
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 80px;
  max-height: 80px;
  margin-bottom: 50px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.header-container-mn .top-menu .logo , .net-manager-new .top-menu .logo , .monitoring-new .top-menu .logo {
  display: block;
  max-width: 100%;
}
.header-container-mn .top-menu .burger-menu , .net-manager-new .top-menu .burger-menu , .monitoring-new .top-menu .burger-menu {
  display: none;
}
.header-container-mn .top-menu .menu-items , .net-manager-new .top-menu .menu-items , .monitoring-new .top-menu .menu-items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.header-container-mn .top-menu .menu-items a:last-child , .net-manager-new .top-menu .menu-items a:last-child , .monitoring-new .top-menu .menu-items a:last-child {
  margin-left: 20px;
  display: inline-block;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.15);
  width: 50px;
  height: 50px;
  padding: 10px 12px;
  margin-top: 15px;
}
.header-container-mn .top-active , .net-manager-new .top-active , .monitoring-new .top-active {
  border-bottom: 4px solid #014663;
  text-transform: uppercase;
}
.header-container-mn .top-menu .menu-items a:last-child:hover , .net-manager-new .top-menu .menu-items a:last-child:hover , .monitoring-new .top-menu .menu-items a:last-child:hover {
  border: 2px solid #f4f4f4;
  padding: 10px 11px;
}
.header-container-mn .top-menu .menu-items a:not(.btn-user) , .net-manager-new .top-menu .menu-items a:not(.btn-user) , .monitoring-new .top-menu .menu-items a:not(.btn-user) {
  color: #fff;
  text-decoration: none;
  font-size: 24px;
  padding: 20px 20px 20px;
}
.header-container-mn .top-menu .menu-items a:not(.btn-user):hover , .net-manager-new .top-menu .menu-items a:not(.btn-user):hover , .monitoring-new .top-menu .menu-items a:not(.btn-user):hover {
  border-bottom: 4px solid #014663;
}
.header-container-mn .top-menu .menu-items a:not(.btn-user):focus , .net-manager-new .top-menu .menu-items a:not(.btn-user):focus , .monitoring-new .top-menu .menu-items a:not(.btn-user):focus {
  border-bottom: 4px solid #014663;
}

.header-container-mn .tab-navs , .net-manager-new .tab-navs , .monitoring-new .tab-navs {
  display: inline-block;
  border-bottom: 4px solid #f6f6f6;
}
.header-container-mn .tab-navs a , .net-manager-new .tab-navs a , .monitoring-new .tab-navs a {
  line-height: 50px;
  font-size: 22px;
  padding: 0 15px;
}
.header-container-mn .tab-navs a:hover , .net-manager-new .tab-navs a:hover , .monitoring-new .tab-navs a:hover {
  border-bottom: 4px solid #014663;
  padding-bottom: 10px;
  cursor: pointer;
}
.header-container-mn .tab-navs a:focus , .net-manager-new .tab-navs a:focus , .monitoring-new .tab-navs a:focus {
  border-bottom: 4px solid #014663;
  padding-bottom: 10px;
}
.header-container-mn .tab-navs .active , .net-manager-new .tab-navs .active , .monitoring-new .tab-navs .active {
  border-bottom: 4px solid #014663;
  padding-bottom: 10px;
}
.header-container-mn #tab-tech , .net-manager-new #tab-tech , .monitoring-new #tab-tech {
  display: none;
}
.header-container-mn #tab-fin , .net-manager-new #tab-fin , .monitoring-new #tab-fin {
  display: none;
}
.header-container-mn .search input , .net-manager-new .search input , .monitoring-new .search input {
  margin-left: 8vw;
  min-width: 270px;
  padding-left: 40px;
}
.header-container-mn .search input::-webkit-input-placeholder , .net-manager-new .search input::-webkit-input-placeholder , .monitoring-new .search input::-webkit-input-placeholder {
  color: #ccc;
}
.header-container-mn .search input::-moz-placeholder , .net-manager-new .search input::-moz-placeholder , .monitoring-new .search input::-moz-placeholder {
  color: #ccc;
}
.header-container-mn .search input:-ms-input-placeholder , .net-manager-new .search input:-ms-input-placeholder , .monitoring-new .search input:-ms-input-placeholder {
  color: #ccc;
}
.header-container-mn .search input::-ms-input-placeholder , .net-manager-new .search input::-ms-input-placeholder , .monitoring-new .search input::-ms-input-placeholder {
  color: #ccc;
}
.header-container-mn .search input::placeholder , .net-manager-new .search input::placeholder , .monitoring-new .search input::placeholder {
  color: #ccc;
}
.header-container-mn .icon , .net-manager-new .icon , .monitoring-new .icon {
  font-weight: 600;
  padding-right: 10px;
  font-size: 14px;
  display: inline-block;
}

.header-container-mn .install-date , .net-manager-new .install-date , .monitoring-new .install-date {
  position: relative;
}
.header-container-mn .install-date .buttons , .net-manager-new .install-date .buttons , .monitoring-new .install-date .buttons {
  position: absolute;
  top: 40px;
  left: 65%;
}
.header-container-mn .mon-switch , .net-manager-new .mon-switch , .monitoring-new .mon-switch {
  position: relative;
}
.header-container-mn .mon-switch .buttons , .net-manager-new .mon-switch .buttons , .monitoring-new .mon-switch .buttons {
  position: absolute;
  top: 40px;
  left: 65%;
}
.header-container-mn .asterisk , .net-manager-new .asterisk , .monitoring-new .asterisk {
  font-size: 16px;
  color: #7cd1f3;
}

.header-container-mn .dropmenu , .net-manager-new .dropmenu , .monitoring-new .dropmenu {
  position: relative;
  z-index: 1;
}
.header-container-mn .dropmenu .dropmenu-items , .net-manager-new .dropmenu .dropmenu-items , .monitoring-new .dropmenu .dropmenu-items {
  position: absolute;
  top: 20px;
  left: 5px;
  display: none;
  border: 1px #dad8d8 solid;
  border-radius: 3px;
  z-index: 99;
}
.header-container-mn .dropmenu .dropmenu-items .dropmenu-item , .net-manager-new .dropmenu .dropmenu-items .dropmenu-item , .monitoring-new .dropmenu .dropmenu-items .dropmenu-item {
  display: flex;
  flex-direction: column;
  padding: 7px 10px;
  font-weight: 400;
  background-color: #fff;
  color: #000;
  border-bottom: none;
}
.header-container-mn .dropmenu .dropmenu-items .dropmenu-item a , .net-manager-new .dropmenu .dropmenu-items .dropmenu-item a , .monitoring-new .dropmenu .dropmenu-items .dropmenu-item a {
  border-bottom: none;
}
.header-container-mn .dropmenu .dropmenu-items .dropmenu-item:hover , .net-manager-new .dropmenu .dropmenu-items .dropmenu-item:hover , .monitoring-new .dropmenu .dropmenu-items .dropmenu-item:hover {
  font-weight: 600;
}
.header-container-mn .dropmenu:hover .dropmenu-items , .net-manager-new .dropmenu:hover .dropmenu-items , .monitoring-new .dropmenu:hover .dropmenu-items {
  display: flex;
  flex-direction: column;
  width: 170%;
}
.header-container-mn .br-bg , .net-manager-new .br-bg , .monitoring-new .br-bg {
  background-color: #e6f2f8;
  margin-top: -50px;
  position: relative;
}
.header-container-mn .br-bg a , .net-manager-new .br-bg a , .monitoring-new .br-bg a {
  color: #057DB0;
  font-size: 12px;
  font-weight: 600;
  line-height: 30px;
  padding-left: 50px;
}
.header-container-mn .knu-logo , .net-manager-new .knu-logo , .monitoring-new .knu-logo {
  width: 63px;
  height: 63px;
}
.header-container-mn .inner-nav , .net-manager-new .inner-nav , .monitoring-new .inner-nav {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.header-container-mn .inner-nav a , .net-manager-new .inner-nav a , .monitoring-new .inner-nav a {
  text-decoration: none;
  color: #000;
  font-size: 16px;
}
.inner-nav a:hover,
.header-container-mn .active , .net-manager-new .active , .monitoring-new .active {
  color: #014663;
  border-bottom: 2px solid #014663;
}
.header-container-mn .inner-nav a:focus , .net-manager-new .inner-nav a:focus , .monitoring-new .inner-nav a:focus {
  color: #014663;
  border-bottom: 2px solid #014663;
}
.header-container-mn .knu-logo , .net-manager-new .knu-logo , .monitoring-new .knu-logo {
  max-width: 100%;
}
.header-container-mn h1 , .net-manager-new h1 , .monitoring-new h1 {
  font-weight: 600;
}
.header-container-mn .right-title , .net-manager-new .right-title , .monitoring-new .right-title {
  font-size: 16px;
}
.header-container-mn .right-title a , .net-manager-new .right-title a , .monitoring-new .right-title a {
  color: #057DB0;
}
.header-container-mn .controls , .net-manager-new .controls , .monitoring-new .controls {
  font-size: 12px;
  display: flex;
}
.header-container-mn .controls button , .net-manager-new .controls button , .monitoring-new .controls button {
  color: #057DB0;
  background-color: transparent;
  outline: none;
  border: none;
}
.header-container-mn .dates-table , .net-manager-new .dates-table , .monitoring-new .dates-table {
  font-size: 16px;
  margin-top: 40px;
}
.header-container-mn .dates-table table , .net-manager-new .dates-table table , .monitoring-new .dates-table table {
  border: 1px solid #d0d0dd;
}
.header-container-mn .dates-table button , .net-manager-new .dates-table button , .monitoring-new .dates-table button {
  background-color: transparent;
  outline: none;
  border: none;
  font-size: 20px;
}
.header-container-mn .addresslist , .net-manager-new .addresslist , .monitoring-new .addresslist {
  padding-left: 20px;
  margin: 50px 0 20px;
}
.header-container-mn .addresslist button , .net-manager-new .addresslist button , .monitoring-new .addresslist button {
  background-color: transparent;
  outline: none;
  border: none;
  font-size: 20px;
}
.header-container-mn .address-tab , .net-manager-new .address-tab , .monitoring-new .address-tab {
  width: 100%;
  overflow: scroll;
}
.header-container-mn .search-field , .net-manager-new .search-field , .monitoring-new .search-field {
  margin-left: -30px;
  display: flex;
}
.header-container-mn .search-field span , .net-manager-new .search-field span , .monitoring-new .search-field span {
  padding-left: 20px;
  display: inline-block;
  font-size: 14px;
}
.header-container-mn .search-field .form-control , .net-manager-new .search-field .form-control , .monitoring-new .search-field .form-control {
  max-width: 415px;
  min-width: 270px;
}
.header-container-mn .search-field input::placeholder , .net-manager-new .search-field input::placeholder , .monitoring-new .search-field input::placeholder {
  color: #d2d2d2;
}
.header-container-mn .search-field input , .net-manager-new .search-field input , .monitoring-new .search-field input {
  padding-left: 40px;
}
.btn-wrap1,
.btn-wrap2,
.btn-wrap3,
.btn-wrap4,
.btn-wrap5,
.header-container-mn .btn-wrap6 , .net-manager-new .btn-wrap6 , .monitoring-new .btn-wrap6 {
  display: none;
  position: relative;
  z-index: 1;
}
.btn-wrap1 button,
.btn-wrap2 button,
.btn-wrap3 button,
.btn-wrap4 button,
.btn-wrap5 button,
.header-container-mn .btn-wrap6 button , .net-manager-new .btn-wrap6 button , .monitoring-new .btn-wrap6 button {
  outline: none;
}
.btn-wrap1 .pop-content,
.btn-wrap2 .pop-content,
.btn-wrap3 .pop-content,
.btn-wrap4 .pop-content,
.btn-wrap5 .pop-content,
.header-container-mn .btn-wrap6 .pop-content , .net-manager-new .btn-wrap6 .pop-content , .monitoring-new .btn-wrap6 .pop-content {
  position: absolute;
  top: -5px;
  background-color: #fff;
  left: 0;
  z-index: 3;
  padding: 10px 30px 20px;
  border: 1px solid #d9d9d9;
  border-radius: 10px;
  -webkit-box-shadow: -1px 1px 10px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: -1px 1px 10px 0px rgba(0, 0, 0, 0.2);
  box-shadow: -1px 1px 10px 0px rgba(0, 0, 0, 0.2);
}
.btn-wrap1 .pop-content p,
.btn-wrap2 .pop-content p,
.btn-wrap3 .pop-content p,
.btn-wrap4 .pop-content p,
.btn-wrap5 .pop-content p,
.header-container-mn .btn-wrap6 .pop-content p , .net-manager-new .btn-wrap6 .pop-content p , .monitoring-new .btn-wrap6 .pop-content p {
  font-size: 18px;
  font-weight: 600;
}
.btn-wrap1 .pop-content::before,
.btn-wrap2 .pop-content::before,
.btn-wrap3 .pop-content::before,
.btn-wrap4 .pop-content::before,
.btn-wrap5 .pop-content::before,
.header-container-mn .btn-wrap6 .pop-content::before , .net-manager-new .btn-wrap6 .pop-content::before , .monitoring-new .btn-wrap6 .pop-content::before {
  content: " ";
  width: 15px;
  height: 15px;
  position: absolute;
  background-color: #fff;
  top: -8px;
  left: 25%;
  border-style: solid;
  display: block;
  border-width: 1px;
  transform: rotate(45deg);
  border-color: #bfbfbf transparent transparent #bfbfbf;
}

.header-container-mn .khmelnitsky , .net-manager-new .khmelnitsky , .monitoring-new .khmelnitsky {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: 1fr;
  padding-top: 30px;
}
.header-container-mn .khmelnitsky .title , .net-manager-new .khmelnitsky .title , .monitoring-new .khmelnitsky .title {
  display: inline-flex;
  align-items: center;
}
.header-container-mn .khmelnitsky .title img , .net-manager-new .khmelnitsky .title img , .monitoring-new .khmelnitsky .title img {
  padding-left: 30px;
}
.header-container-mn .khmelnitsky .title h2 , .net-manager-new .khmelnitsky .title h2 , .monitoring-new .khmelnitsky .title h2 {
  padding-left: 15px;
  padding-top: 5px;
  font-weight: 600;
  font-size: 30px;
}
.header-container-mn .khmelnitsky a , .net-manager-new .khmelnitsky a , .monitoring-new .khmelnitsky a {
  text-decoration: none;
}
.header-container-mn .khmelnitsky .controls , .net-manager-new .khmelnitsky .controls , .monitoring-new .khmelnitsky .controls {
  justify-self: center;
}
.header-container-mn .tab-row1 , .net-manager-new .tab-row1 , .monitoring-new .tab-row1 {
  display: grid;
  grid-template-areas: "tab1 tab1 label sel . . . " "tab1 tab1 tab2 tab2 . . . ";
  grid-column-gap: 30px;
  grid-row-gap: 20px;
  font-size: 16px;
}
.header-container-mn .tab1 , .net-manager-new .tab1 , .monitoring-new .tab1 {
  grid-area: tab1;
  border: 1px solid #eaeaea;
}
.header-container-mn .label , .net-manager-new .label , .monitoring-new .label {
  grid-area: label;
}
.header-container-mn .sel , .net-manager-new .sel , .monitoring-new .sel {
  grid-area: sel;
}
.header-container-mn .tab2 , .net-manager-new .tab2 , .monitoring-new .tab2 {
  grid-area: tab2;
  border: 1px solid #eaeaea;
}

.header-container-mn .main-resources , .net-manager-new .main-resources , .monitoring-new .main-resources {
  display: grid;
  padding-left: 40px;
  padding-right: 40px;
}
.header-container-mn .main-resources .title , .net-manager-new .main-resources .title , .monitoring-new .main-resources .title {
  display: grid;
  grid-template-areas: "pic title btns breadcrumbs";
  grid-template-columns: 40px auto auto auto;
}
.header-container-mn .main-resources .title .washer , .net-manager-new .main-resources .title .washer , .monitoring-new .main-resources .title .washer {
  grid-area: pic;
}
.header-container-mn .main-resources .title .main-resources__header , .net-manager-new .main-resources .title .main-resources__header , .monitoring-new .main-resources .title .main-resources__header {
  grid-area: title;
  font-size: 30px;
  padding-left: 10px;
}
.header-container-mn .main-resources .title .main-resources__header h2 , .net-manager-new .main-resources .title .main-resources__header h2 , .monitoring-new .main-resources .title .main-resources__header h2 {
  line-height: 1;
  justify-content: start;
}
.header-container-mn .main-resources .title .main-resources__header p , .net-manager-new .main-resources .title .main-resources__header p , .monitoring-new .main-resources .title .main-resources__header p {
  font-size: 24px;
  line-height: 1;
}
.header-container-mn .main-resources .title .btns , .net-manager-new .main-resources .title .btns , .monitoring-new .main-resources .title .btns {
  grid-area: btns;
}
.header-container-mn .main-resources .title .btns .edit-btn , .net-manager-new .main-resources .title .btns .edit-btn , .monitoring-new .main-resources .title .btns .edit-btn {
  color: #057DB0;
  text-decoration: none;
  font-size: 12px;
  background-color: transparent;
}
.header-container-mn .main-resources .title .btns .del-btn , .net-manager-new .main-resources .title .btns .del-btn , .monitoring-new .main-resources .title .btns .del-btn {
  color: #057DB0;
  font-size: 12px;
  text-decoration: none;
  background-color: transparent;
}
.header-container-mn .main-resources .title .breadcrumbs , .net-manager-new .main-resources .title .breadcrumbs , .monitoring-new .main-resources .title .breadcrumbs {
  grid-area: breadcrumbs;
}
.header-container-mn .main-resources .title .form-group , .net-manager-new .main-resources .title .form-group , .monitoring-new .main-resources .title .form-group {
  position: relative;
}
.header-container-mn .main-resources .title .form-group .btn-field , .net-manager-new .main-resources .title .form-group .btn-field , .monitoring-new .main-resources .title .form-group .btn-field {
  position: absolute;
  top: 40px;
  left: 60%;
}
.header-container-mn .main-resources .btn-container , .net-manager-new .main-resources .btn-container , .monitoring-new .main-resources .btn-container {
  display: inline-block;
  position: relative;
  padding: 0 25px;
  margin-bottom: 5px;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.header-container-mn .main-resources .btn-container input , .net-manager-new .main-resources .btn-container input , .monitoring-new .main-resources .btn-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.header-container-mn .main-resources .checkmark , .net-manager-new .main-resources .checkmark , .monitoring-new .main-resources .checkmark {
  position: absolute;
  top: 4px;
  left: 0;
  height: 16px;
  width: 16px;
  border: 2px solid #cecece;
  border-radius: 50%;
}
.header-container-mn .main-resources .btn-container:hover input ~ .checkmark , .net-manager-new .main-resources .btn-container:hover input ~ .checkmark , .monitoring-new .main-resources .btn-container:hover input ~ .checkmark {
  background-color: #cecece;
}
.header-container-mn .main-resources .btn-container input:checked ~ .checkmark , .net-manager-new .main-resources .btn-container input:checked ~ .checkmark , .monitoring-new .main-resources .btn-container input:checked ~ .checkmark {
  border: 2px solid #4ECA65;
}
.header-container-mn .main-resources .checkmark:after , .net-manager-new .main-resources .checkmark:after , .monitoring-new .main-resources .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.header-container-mn .main-resources .btn-container input:checked ~ .checkmark:after , .net-manager-new .main-resources .btn-container input:checked ~ .checkmark:after , .monitoring-new .main-resources .btn-container input:checked ~ .checkmark:after {
  display: block;
}
.header-container-mn .main-resources .btn-container .checkmark:after , .net-manager-new .main-resources .btn-container .checkmark:after , .monitoring-new .main-resources .btn-container .checkmark:after {
  top: 2px;
  left: 2px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #4ECA65;
}
.header-container-mn .main-resources .cb-container , .net-manager-new .main-resources .cb-container , .monitoring-new .main-resources .cb-container {
  display: inline-flex;
  position: relative;
  padding-left: 30px;
  margin-bottom: 5px;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.header-container-mn .main-resources .cb-container input , .net-manager-new .main-resources .cb-container input , .monitoring-new .main-resources .cb-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.header-container-mn .main-resources .v-checkmark , .net-manager-new .main-resources .v-checkmark , .monitoring-new .main-resources .v-checkmark {
  position: absolute;
  top: 4px;
  left: 0;
  height: 16px;
  width: 16px;
  background-color: #eee;
}
.header-container-mn .main-resources .cb-container:hover input ~ .v-checkmark , .net-manager-new .main-resources .cb-container:hover input ~ .v-checkmark , .monitoring-new .main-resources .cb-container:hover input ~ .v-checkmark {
  background-color: #ccc;
}
.header-container-mn .main-resources .cb-container input:checked ~ .v-checkmark , .net-manager-new .main-resources .cb-container input:checked ~ .v-checkmark , .monitoring-new .main-resources .cb-container input:checked ~ .v-checkmark {
  background-color: #4ECA65;
}
.header-container-mn .main-resources .v-checkmark:after , .net-manager-new .main-resources .v-checkmark:after , .monitoring-new .main-resources .v-checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.header-container-mn .main-resources .cb-container input:checked ~ .v-checkmark:after , .net-manager-new .main-resources .cb-container input:checked ~ .v-checkmark:after , .monitoring-new .main-resources .cb-container input:checked ~ .v-checkmark:after {
  display: block;
}
.header-container-mn .main-resources .cb-container .v-checkmark:after , .net-manager-new .main-resources .cb-container .v-checkmark:after , .monitoring-new .main-resources .cb-container .v-checkmark:after {
  left: 5px;
  top: 2px;
  width: 6px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.main-resources .block1,
.main-resources .block2,
.main-resources .block3,
.header-container-mn .main-resources .block4 , .net-manager-new .main-resources .block4 , .monitoring-new .main-resources .block4 {
  margin-left: -20px;
}
.main-resources .pop-confirm1,
.main-resources .pop-confirm2,
.main-resources .pop-confirm3,
.header-container-mn .main-resources .pop-confirm4 , .net-manager-new .main-resources .pop-confirm4 , .monitoring-new .main-resources .pop-confirm4 {
  position: absolute;
  display: none;
  top: 30px;
  background-color: #fff;
  left: 0;
  z-index: 3;
  padding-top: 40px;
  padding-left: 15px;
  padding-right: 15px;
  border: 1px solid #d9d9d9;
  border-radius: 10px;
  -webkit-box-shadow: -1px 1px 10px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: -1px 1px 10px 0px rgba(0, 0, 0, 0.2);
  box-shadow: -1px 1px 10px 0px rgba(0, 0, 0, 0.2);
}
.main-resources .pop-confirm1 .close,
.main-resources .pop-confirm2 .close,
.main-resources .pop-confirm3 .close,
.header-container-mn .main-resources .pop-confirm4 .close , .net-manager-new .main-resources .pop-confirm4 .close , .monitoring-new .main-resources .pop-confirm4 .close {
  position: absolute;
  top: 5px;
  left: 80%;
}
.main-resources .pop-confirm1::before,
.main-resources .pop-confirm2::before,
.main-resources .pop-confirm3::before,
.header-container-mn .main-resources .pop-confirm4::before , .net-manager-new .main-resources .pop-confirm4::before , .monitoring-new .main-resources .pop-confirm4::before {
  content: " ";
  width: 15px;
  height: 15px;
  position: absolute;
  background-color: #fff;
  top: -8px;
  left: 25%;
  border-style: solid;
  display: block;
  border-width: 1px;
  transform: rotate(45deg);
  border-color: #bfbfbf transparent transparent #bfbfbf;
}
.header-container-mn .main-resources .tech-data , .net-manager-new .main-resources .tech-data , .monitoring-new .main-resources .tech-data {
  display: grid;
  font-size: 16px;
  grid-template-columns: minmax(280px, 610px);
  margin-top: 50px;
}
.main-resources .tech-data2,
.header-container-mn .main-resources .finance-data , .net-manager-new .main-resources .finance-data , .monitoring-new .main-resources .finance-data {
  display: grid;
  font-size: 16px;
  grid-template-columns: minmax(300px, 400px);
  margin-top: 50px;
}
.header-container-mn .main-resources .pm-history , .net-manager-new .main-resources .pm-history , .monitoring-new .main-resources .pm-history {
  display: grid;
  font-size: 16px;
  grid-template-columns: minmax(300px, 610px);
  margin-top: 50px;
}

.header-container-mn .terminal_add-washpay , .net-manager-new .terminal_add-washpay , .monitoring-new .terminal_add-washpay {
  display: grid;
  padding: 0 40px;
}
.header-container-mn .terminal_add-washpay .add-washpay__head , .net-manager-new .terminal_add-washpay .add-washpay__head , .monitoring-new .terminal_add-washpay .add-washpay__head {
  display: flex;
  font-size: 18px;
  flex-wrap: wrap;
}
.header-container-mn .terminal_add-washpay .add-washpay__head button , .net-manager-new .terminal_add-washpay .add-washpay__head button , .monitoring-new .terminal_add-washpay .add-washpay__head button {
  outline: none;
  border: none;
  background-color: #4ECA65;
  color: #fff;
  border-radius: 50%;
  padding: 0 7px;
  margin-right: 5px;
  margin-bottom: 20px;
}
.header-container-mn .terminal_add-washpay .washpay__search , .net-manager-new .terminal_add-washpay .washpay__search , .monitoring-new .terminal_add-washpay .washpay__search {
  flex-wrap: wrap;
  display: flex;
  margin-bottom: 40px;
  position: relative;
}
.header-container-mn .terminal_add-washpay .washpay__search .search-icon , .net-manager-new .terminal_add-washpay .washpay__search .search-icon , .monitoring-new .terminal_add-washpay .washpay__search .search-icon {
  position: absolute;
  top: 7px;
  left: 10px;
  color: #000;
  font-size: 18px;
}
.header-container-mn .terminal_add-washpay .washpay__search input , .net-manager-new .terminal_add-washpay .washpay__search input , .monitoring-new .terminal_add-washpay .washpay__search input {
  padding-left: 40px;
  max-width: 415px;
  width: 100%;
}
.header-container-mn .terminal_add-washpay .washpay__search .records-shown , .net-manager-new .terminal_add-washpay .washpay__search .records-shown , .monitoring-new .terminal_add-washpay .washpay__search .records-shown {
  font-size: 16px;
  display: flex;
  padding-top: 8px;
  justify-self: center;
  padding-left: 10px;
}
.header-container-mn .terminal_add-washpay .washpay_tabledata > table tbody tr:hover , .net-manager-new .terminal_add-washpay .washpay_tabledata > table tbody tr:hover , .monitoring-new .terminal_add-washpay .washpay_tabledata > table tbody tr:hover {
  box-shadow: 2px 1px 2px 2px rgba(0, 0, 0, 0.15);
  background-color: #f9f9f9;
}


.header-container-mn .washpay42 , .net-manager-new .washpay42 , .monitoring-new .washpay42 {
  padding: 30px 40px 0 40px;
}
.header-container-mn .washpay42 h2 , .net-manager-new .washpay42 h2 , .monitoring-new .washpay42 h2 {
  font-size: 30px;
  font-weight: 900;
}
.header-container-mn .washpay42 .modnum , .net-manager-new .washpay42 .modnum , .monitoring-new .washpay42 .modnum {
  font-size: 24px;
}
.header-container-mn .washpay42 button , .net-manager-new .washpay42 button , .monitoring-new .washpay42 button {
  outline: none;
  border: none;
  background-color: transparent;
  margin-left: 25px;
}
.header-container-mn .washpay42 .l-grey , .net-manager-new .washpay42 .l-grey , .monitoring-new .washpay42 .l-grey {
  color: #b8b8b8;
}
.washpay42 .dev-specs,
.header-container-mn .washpay42 .wp-history , .net-manager-new .washpay42 .wp-history , .monitoring-new .washpay42 .wp-history {
  max-width: 610px;
  width: 100%;
  font-size: 16px;
  margin-top: 30px;
}
.header-container-mn .dev-specs table tr th , .net-manager-new .dev-specs table tr th , .monitoring-new .dev-specs table tr th {
  text-align: left;
}
.header-container-mn .wp-history table tr th , .net-manager-new .wp-history table tr th , .monitoring-new .wp-history table tr th {
  text-align: left;
}

.header-container-mn .coworkers__create-user , .net-manager-new .coworkers__create-user , .monitoring-new .coworkers__create-user {
  display: grid;
  padding: 0 40px;
}
.header-container-mn .coworkers__create-user .create-user__head , .net-manager-new .coworkers__create-user .create-user__head , .monitoring-new .coworkers__create-user .create-user__head {
  display: flex;
  font-size: 18px;
  flex-wrap: wrap;
}
.header-container-mn .coworkers__create-user .create-user__head button , .net-manager-new .coworkers__create-user .create-user__head button , .monitoring-new .coworkers__create-user .create-user__head button {
  outline: none;
  border: none;
  background-color: #4ECA65;
  color: #fff;
  border-radius: 50%;
  padding: 0 7px;
  margin-right: 5px;
  margin-bottom: 20px;
}
.header-container-mn .coworkers__create-user .createuser__search , .net-manager-new .coworkers__create-user .createuser__search , .monitoring-new .coworkers__create-user .createuser__search {
  flex-wrap: wrap;
  display: flex;
  margin-bottom: 40px;
  position: relative;
}
.header-container-mn .coworkers__create-user .createuser__search .search-icon , .net-manager-new .coworkers__create-user .createuser__search .search-icon , .monitoring-new .coworkers__create-user .createuser__search .search-icon {
  position: absolute;
  top: 7px;
  left: 10px;
  color: #000;
  font-size: 18px;
}
.header-container-mn .coworkers__create-user .createuser__search input , .net-manager-new .coworkers__create-user .createuser__search input , .monitoring-new .coworkers__create-user .createuser__search input {
  padding-left: 40px;
  max-width: 415px;
  width: 100%;
}
.header-container-mn .coworkers__create-user .createuser__search .records-shown , .net-manager-new .coworkers__create-user .createuser__search .records-shown , .monitoring-new .coworkers__create-user .createuser__search .records-shown {
  font-size: 16px;
  display: flex;
  padding-top: 8px;
  justify-self: center;
  padding-left: 10px;
}
.header-container-mn .coworkers__create-user .user-info , .net-manager-new .coworkers__create-user .user-info , .monitoring-new .coworkers__create-user .user-info {
  width: 50%;
}
.header-container-mn .coworkers__create-user .user-info .actions , .net-manager-new .coworkers__create-user .user-info .actions , .monitoring-new .coworkers__create-user .user-info .actions {
  font-size: 12px;
}
.header-container-mn .coworkers__create-user .user-info .actions button , .net-manager-new .coworkers__create-user .user-info .actions button , .monitoring-new .coworkers__create-user .user-info .actions button {
  border: none;
  background-color: transparent;
}
.header-container-mn .coworkers__create-user .user-info .actions .eye , .net-manager-new .coworkers__create-user .user-info .actions .eye , .monitoring-new .coworkers__create-user .user-info .actions .eye {
  color: #057DB0;
}
.header-container-mn .coworkers__create-user .summary-data h3 , .net-manager-new .coworkers__create-user .summary-data h3 , .monitoring-new .coworkers__create-user .summary-data h3 {
  font-size: 24px;
  font-weight: 600;
  padding-bottom: 10px;
}
.header-container-mn .coworkers__create-user .summary-data p , .net-manager-new .coworkers__create-user .summary-data p , .monitoring-new .coworkers__create-user .summary-data p {
  font-size: 16px;
  line-height: 1.2;
}
.header-container-mn .coworkers__create-user .coworker-card .edits button , .net-manager-new .coworkers__create-user .coworker-card .edits button , .monitoring-new .coworkers__create-user .coworker-card .edits button {
  border: none;
  outline: none;
  background-color: transparent;
}
.header-container-mn .add-address , .net-manager-new .add-address , .monitoring-new .add-address {
  display: grid;
}
.header-container-mn .add-address .add-address__head , .net-manager-new .add-address .add-address__head , .monitoring-new .add-address .add-address__head {
  display: flex;
  font-size: 18px;
  flex-wrap: wrap;
}
.header-container-mn .add-address .add-address__head button , .net-manager-new .add-address .add-address__head button , .monitoring-new .add-address .add-address__head button {
  outline: none;
  border: none;
  background-color: #4ECA65;
  color: #fff;
  border-radius: 50%;
  padding: 0 7px;
  margin-right: 5px;
  margin-bottom: 20px;
}
.header-container-mn .add-address .address__search , .net-manager-new .add-address .address__search , .monitoring-new .add-address .address__search {
  flex-wrap: wrap;
  display: flex;
  margin-bottom: 40px;
  position: relative;
}
.header-container-mn .add-address .address__search .search-icon , .net-manager-new .add-address .address__search .search-icon , .monitoring-new .add-address .address__search .search-icon {
  position: absolute;
  top: 7px;
  left: 10px;
  color: #000;
  font-size: 18px;
}
.header-container-mn .add-address .address__search input , .net-manager-new .add-address .address__search input , .monitoring-new .add-address .address__search input {
  padding-left: 40px;
  max-width: 380px;
  width: 100%;
}
.header-container-mn .add-address .address__search .records-shown , .net-manager-new .add-address .address__search .records-shown , .monitoring-new .add-address .address__search .records-shown {
  font-size: 16px;
  display: flex;
  padding-top: 8px;
  justify-self: center;
  padding-left: 10px;
}
.header-container-mn .add-address .address_tabledata > table tbody tr:hover , .net-manager-new .add-address .address_tabledata > table tbody tr:hover , .monitoring-new .add-address .address_tabledata > table tbody tr:hover {
  box-shadow: 2px 1px 2px 2px rgba(0, 0, 0, 0.15);
  background-color: #f9f9f9;
}
.header-container-mn .add-address .address_tabledata , .net-manager-new .add-address .address_tabledata , .monitoring-new .add-address .address_tabledata {
  width: 100%;
  overflow: hidden;
}

.header-container-mn .add-pm , .net-manager-new .add-pm , .monitoring-new .add-pm {
  display: grid;
}
.header-container-mn .add-pm .add-pm__head , .net-manager-new .add-pm .add-pm__head , .monitoring-new .add-pm .add-pm__head {
  display: flex;
  font-size: 18px;
  flex-wrap: wrap;
}
.header-container-mn .add-pm .add-pm__head button , .net-manager-new .add-pm .add-pm__head button , .monitoring-new .add-pm .add-pm__head button {
  outline: none;
  border: none;
  background-color: #4ECA65;
  color: #fff;
  border-radius: 50%;
  padding: 0 7px;
  margin-right: 5px;
  margin-bottom: 20px;
}
.header-container-mn .add-pm .pm__search , .net-manager-new .add-pm .pm__search , .monitoring-new .add-pm .pm__search {
  flex-wrap: wrap;
  display: flex;
  margin-bottom: 40px;
  position: relative;
}
.header-container-mn .add-pm .pm__search .search-icon , .net-manager-new .add-pm .pm__search .search-icon , .monitoring-new .add-pm .pm__search .search-icon {
  position: absolute;
  top: 7px;
  left: 25px;
  color: #000;
  font-size: 18px;
}
.header-container-mn .add-pm .pm__search input , .net-manager-new .add-pm .pm__search input , .monitoring-new .add-pm .pm__search input {
  padding-left: 40px;
  max-width: 415px;
  width: 100%;
}
.header-container-mn .add-pm .pm__search .records-shown , .net-manager-new .add-pm .pm__search .records-shown , .monitoring-new .add-pm .pm__search .records-shown {
  font-size: 16px;
  display: inline-block;
  padding-top: 8px;
  justify-self: center;
  padding-left: 10px;
}
.header-container-mn .add-pm .sel-num , .net-manager-new .add-pm .sel-num , .monitoring-new .add-pm .sel-num {
  max-width: 250px;
  width: 100%;
}
.header-container-mn .add-pm .pm_tabledata > table tbody tr:hover , .net-manager-new .add-pm .pm_tabledata > table tbody tr:hover , .monitoring-new .add-pm .pm_tabledata > table tbody tr:hover {
  box-shadow: 2px 1px 2px 2px rgba(0, 0, 0, 0.15);
  background-color: #f9f9f9;
}

.header-container-mn #createwasher .btn-field , .net-manager-new #createwasher .btn-field , .monitoring-new #createwasher .btn-field {
  position: absolute;
  top: 40px;
  left: 57%;
}
.header-container-mn .change-btn , .net-manager-new .change-btn , .monitoring-new .change-btn {
  top: 30px;
  left: 20%;
  z-index: 1;
}
.header-container-mn .change-btn button , .net-manager-new .change-btn button , .monitoring-new .change-btn button {
  width: 350%;
}
.header-container-mn .op0 , .net-manager-new .op0 , .monitoring-new .op0 {
  opacity: 0;
}
.header-container-mn .z-ind99 , .net-manager-new .z-ind99 , .monitoring-new .z-ind99 {
  z-index: 99;
}

.header-container-mn .btn-user , .net-manager-new .btn-user , .monitoring-new .btn-user {
  border-radius: 50%;
  height: 45px;
  width: 45px;
  border: none;
  background-color: rgba(255, 255, 255, 0.15);
  margin-top: 15px;
  margin-left: 0px;
  outline: none;
}
.header-container-mn .btn-user:hover , .net-manager-new .btn-user:hover , .monitoring-new .btn-user:hover {
  border: 2px solid #fff;
}
.header-container-mn .btn-user:focus , .net-manager-new .btn-user:focus , .monitoring-new .btn-user:focus {
  outline: none;
  border: 2px solid #fff;
}
.header-container-mn .user-actions , .net-manager-new .user-actions , .monitoring-new .user-actions {
  display: none;
  flex-direction: column;
  position: absolute;
  z-index: 100;
  top: 70px;
  right: 30px;
  padding: 20px;
  font-size: 24px;
  color: #fff;
  background-color: #2BB5EA;
}
.header-container-mn .user-actions a , .net-manager-new .user-actions a , .monitoring-new .user-actions a {
  color: #fff;
  text-decoration: none;
}
.header-container-mn .user-actions a:hover , .net-manager-new .user-actions a:hover , .monitoring-new .user-actions a:hover {
  padding-bottom: 2px;
  border-bottom: 3px solid #000;
}

.header-container-mn #tab-gen .form-control , .net-manager-new #tab-gen .form-control , .monitoring-new #tab-gen .form-control {
  width: 50%;
  margin-top: 10px;
  padding-left: 40px;
}
/*.table td,
.header-container-mn .table th , .net-manager-new .table th , .monitoring-new .table th {
  text-align: center;
  padding: 15px 0;
}*/
.header-container-mn .table th , .net-manager-new .table th , .monitoring-new .table th {
  line-height: 1;
}
.header-container-mn .table .last , .net-manager-new .table .last , .monitoring-new .table .last {
  padding-top: 40px;
}
.header-container-mn .table .counter , .net-manager-new .table .counter , .monitoring-new .table .counter {
  padding-top: 3%;
}
table th,
.header-container-mn table td , .net-manager-new table td , .monitoring-new table td {
  font-size: 16px;
  text-align: center;
}

.header-container-mn .title > button , .net-manager-new .title > button , .monitoring-new .title > button {
  width: 135px;
  font-size: 14px;
  color: #FFF;
}
.header-container-mn .title span > a , .net-manager-new .title span > a , .monitoring-new .title span > a {
  font-size: 16px;
  color: #014663;
}
.header-container-mn .total , .net-manager-new .total , .monitoring-new .total {
  font-size: 18px;
  font-weight: 700;
  margin: -10px 20px 10px;
  display: block;
  margin-left: 25vw;
}

/*.header-container-mn .filters , .net-manager-new .filters , .monitoring-new .filters {
  display: flex;
  margin-top: 40px;
  padding: 0;
}*/
label,
.header-container-mn .month , .net-manager-new .month , .monitoring-new .month {
  font-size: 16px;
}
.header-container-mn .month , .net-manager-new .month , .monitoring-new .month {
  font-weight: 600;
}
.header-container-mn #daysofweek , .net-manager-new #daysofweek , .monitoring-new #daysofweek {
  min-width: 127px;
  max-width: 127px;
  width: 100%;
}
.header-container-mn #years , .net-manager-new #years , .monitoring-new #years {
  min-width: 92px;
  max-width: 92px;
  width: 100%;
  margin-left: 10px;
}
.header-container-mn #display , .net-manager-new #display , .monitoring-new #display {
  min-width: 142px;
  max-width: 142px;
  width: 100%;
}

.header-container-mn .underlined , .net-manager-new .underlined , .monitoring-new .underlined {
  border-bottom: 3px solid #000;
}
.header-container-mn .subheader , .net-manager-new .subheader , .monitoring-new .subheader {
  margin-top: -20px;
}
.subheader h2,
.header-container-mn .subheader h3 , .net-manager-new .subheader h3 , .monitoring-new .subheader h3 {
  line-height: 1;
  font-size: 24px;
}
.header-container-mn .subheader a , .net-manager-new .subheader a , .monitoring-new .subheader a {
  text-decoration: none;
  color: #000;
}
.maps,
.historyofuse,
.header-container-mn .users , .net-manager-new .users , .monitoring-new .users {
  padding: 0 20px;
}

.header-container-mn .cardinfo , .net-manager-new .cardinfo , .monitoring-new .cardinfo {
  max-width: 600px;
  width: 100%;
}
.header-container-mn .cardinfo h3 , .net-manager-new .cardinfo h3 , .monitoring-new .cardinfo h3 {
  font-size: 24px;
  padding-bottom: 20px;
}
.header-container-mn .historyofuse h3 , .net-manager-new .historyofuse h3 , .monitoring-new .historyofuse h3 {
  padding-bottom: 20px;
}

.header-container-mn .card-of-card_info , .net-manager-new .card-of-card_info , .monitoring-new .card-of-card_info {
  display: grid;
  grid-template-columns: minmax(250px, 500px) 60px auto;
  grid-column-gap: 50px;
  grid-template-areas: "title title title" "tab ava cardslist";
}
.header-container-mn .card-of-card_info .title , .net-manager-new .card-of-card_info .title , .monitoring-new .card-of-card_info .title {
  grid-area: title;
}
.header-container-mn .card-of-card_info .card-tab , .net-manager-new .card-of-card_info .card-tab , .monitoring-new .card-of-card_info .card-tab {
  grid-area: tab;
}
.header-container-mn .card-of-card_info .avatar , .net-manager-new .card-of-card_info .avatar , .monitoring-new .card-of-card_info .avatar {
  grid-area: ava;
  align-self: start;
}
.header-container-mn .card-of-card_info .cards-list , .net-manager-new .card-of-card_info .cards-list , .monitoring-new .card-of-card_info .cards-list {
  grid-area: cardslist;
}
.header-container-mn ul li , .net-manager-new ul li , .monitoring-new ul li {
  list-style: none;
  margin-left: -40px;
}

@media (max-width: 2560px) {
.header-container-mn   body , .net-manager-new   body , .monitoring-new   body {
    font-size: 13px;
  }
}
@media (max-width: 1600px) {
.header-container-mn   body , .net-manager-new   body , .monitoring-new   body {
    font-size: 11px;
  }
}
@media screen and (max-width: 1080px) {
.header-container-mn   .header .nav .nav-item .nav-link , .net-manager-new   .header .nav .nav-item .nav-link , .monitoring-new   .header .nav .nav-item .nav-link {
    font-size: 18px;
  }
}
@media screen and (max-width: 991px) {
.header-container-mn   .top-menu , .net-manager-new   .top-menu , .monitoring-new   .top-menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
.header-container-mn   .top-menu .burger-menu , .net-manager-new   .top-menu .burger-menu , .monitoring-new   .top-menu .burger-menu {
    display: inline-block;
    margin: 20px -5px 0;
    position: absolute;
    right: 20px;
  }
.header-container-mn   .burger-menu:hover , .net-manager-new   .burger-menu:hover , .monitoring-new   .burger-menu:hover {
    cursor: pointer;
  }
.header-container-mn   .top-menu .menu-items a , .net-manager-new   .top-menu .menu-items a , .monitoring-new   .top-menu .menu-items a {
    display: none;
  }
.header-container-mn   .tab-navs a , .net-manager-new   .tab-navs a , .monitoring-new   .tab-navs a {
    font-size: 20px;
    line-height: 45px;
    padding: 0 15px;
  }
.header-container-mn   .search input , .net-manager-new   .search input , .monitoring-new   .search input {
    margin-top: 30px;
    margin-left: 1vw;
    min-width: 270px;
  }
.header-container-mn   .khmelnitsky , .net-manager-new   .khmelnitsky , .monitoring-new   .khmelnitsky {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto 1fr;
  }
.header-container-mn   .khmelnitsky .title h2 , .net-manager-new   .khmelnitsky .title h2 , .monitoring-new   .khmelnitsky .title h2 {
    font-size: 24px;
  }
.header-container-mn   .tab-row1 , .net-manager-new   .tab-row1 , .monitoring-new   .tab-row1 {
    display: grid;
    grid-template-areas: "tab1 tab1 " "label sel" "tab2 tab2";
    grid-column-gap: 30px;
    grid-row-gap: 20px;
  }
.header-container-mn   .main-resources .title , .net-manager-new   .main-resources .title , .monitoring-new   .main-resources .title {
    margin-left: -30px;
    grid-template-areas: "pic title title" "btns btns btns" "breadcrumbs breadcrumbs breadcrumbs";
  }
.header-container-mn   .terminal_add-washpay , .net-manager-new   .terminal_add-washpay , .monitoring-new   .terminal_add-washpay {
    padding: 0 20px;
  }
.header-container-mn   .user-info , .net-manager-new   .user-info , .monitoring-new   .user-info {
    width: 100%;
  }
.header-container-mn   .font12 , .net-manager-new   .font12 , .monitoring-new   .font12 {
    font-size: 1rem;
  }
.header-container-mn   .font10 , .net-manager-new   .font10 , .monitoring-new   .font10 {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 575px) {
.header-container-mn   .users , .net-manager-new   .users , .monitoring-new   .users {
    width: 79%;
  }
.header-container-mn   .users table tr td , .net-manager-new   .users table tr td , .monitoring-new   .users table tr td {
    font-size: 14px;
  }
}
@media screen and (max-width: 560px) {
.header-container-mn #nav-home-tab, .monitoring-new #nav-home-tab, .net-manager-new #nav-home-tab, .monitoring-new #nav-home-tab,
.header-container-mn #nav-profile-tab, .monitoring-new #nav-profile-tab, .net-manager-new #nav-profile-tab, .monitoring-new #nav-profile-tab,
.header-container-mn   #nav-contact-tab , .net-manager-new   #nav-contact-tab , .monitoring-new   #nav-contact-tab {
    font-size: 13px;
  }
.header-container-mn   h1 , .net-manager-new   h1 , .monitoring-new   h1 {
    font-size: 30px;
    padding-left: 0;
    margin-right: 0;
  }
  h2,
.header-container-mn   h3 , .net-manager-new   h3 , .monitoring-new   h3 {
    font-size: 22px;
  }
.header-container-mn   .add-address .address__search input , .net-manager-new   .add-address .address__search input , .monitoring-new   .add-address .address__search input {
    padding-left: 40px;
    max-width: 290px;
    font-size: 12px;
    width: 100%;
  }
.header-container-mn   .add-address .address__search .search-icon , .net-manager-new   .add-address .address__search .search-icon , .monitoring-new   .add-address .address__search .search-icon {
    position: absolute;
    top: 4px;
    transform: scale(0.8);
    left: 10px;
    color: #000;
    font-size: 18px;
  }
.header-container-mn   .knu-logo , .net-manager-new   .knu-logo , .monitoring-new   .knu-logo {
    padding-left: 10px;
    transform: scale(0.8) translateX(-30px);
  }
.header-container-mn   .change-btn button , .net-manager-new   .change-btn button , .monitoring-new   .change-btn button {
    width: 240%;
  }
  .dates-table button,
.header-container-mn   .addresslist button , .net-manager-new   .addresslist button , .monitoring-new   .addresslist button {
    font-size: 16px;
  }
.header-container-mn   .records-num , .net-manager-new   .records-num , .monitoring-new   .records-num {
    min-width: 180px;
    margin-left: 60px;
    margin-top: 10px;
  }
.header-container-mn   .search-field , .net-manager-new   .search-field , .monitoring-new   .search-field {
    flex-direction: column;
  }
.header-container-mn   .compiled-findata , .net-manager-new   .compiled-findata , .monitoring-new   .compiled-findata {
    margin-left: 20px;
  }
.header-container-mn   .compiled-techdata , .net-manager-new   .compiled-techdata , .monitoring-new   .compiled-techdata {
    padding: 0 20px;
  }
.header-container-mn   .terminal_add-washpay , .net-manager-new   .terminal_add-washpay , .monitoring-new   .terminal_add-washpay {
    padding: 0 15px;
  }
.header-container-mn   .terminal_add-washpay .breadcrbs , .net-manager-new   .terminal_add-washpay .breadcrbs , .monitoring-new   .terminal_add-washpay .breadcrbs {
    display: none;
  }
.header-container-mn   .terminal_add-washpay input::placeholder , .net-manager-new   .terminal_add-washpay input::placeholder , .monitoring-new   .terminal_add-washpay input::placeholder {
    font-size: 13px;
  }
.header-container-mn   .washpay42 , .net-manager-new   .washpay42 , .monitoring-new   .washpay42 {
    padding: 10px;
  }
.header-container-mn   .tech-data , .net-manager-new   .tech-data , .monitoring-new   .tech-data {
    margin-left: -30px;
  }
.header-container-mn   .tech-data table , .net-manager-new   .tech-data table , .monitoring-new   .tech-data table {
    width: 95%;
  }
.header-container-mn   .tech-data table tr td , .net-manager-new   .tech-data table tr td , .monitoring-new   .tech-data table tr td {
    font-size: 14px;
  }
.header-container-mn   .tech-data2 , .net-manager-new   .tech-data2 , .monitoring-new   .tech-data2 {
    margin-left: -30px;
  }
.header-container-mn   .tech-data2 table , .net-manager-new   .tech-data2 table , .monitoring-new   .tech-data2 table {
    width: 80%;
  }
.header-container-mn   .tech-data2 table tr td , .net-manager-new   .tech-data2 table tr td , .monitoring-new   .tech-data2 table tr td {
    font-size: 14px;
  }
.header-container-mn   .finance-data , .net-manager-new   .finance-data , .monitoring-new   .finance-data {
    margin-left: -30px;
  }
.header-container-mn   .finance-data table , .net-manager-new   .finance-data table , .monitoring-new   .finance-data table {
    width: 90%;
  }
.header-container-mn   .washpay_tabledata table tr td , .net-manager-new   .washpay_tabledata table tr td , .monitoring-new   .washpay_tabledata table tr td {
    font-size: 12px;
  }
.header-container-mn   .right-title , .net-manager-new   .right-title , .monitoring-new   .right-title {
    font-size: 12px;
  }
.header-container-mn   .pm_tabledata , .net-manager-new   .pm_tabledata , .monitoring-new   .pm_tabledata {
    width: 100%;
    overflow: hidden;
    font-size: 14px;
  }
.header-container-mn   .pm-history__table , .net-manager-new   .pm-history__table , .monitoring-new   .pm-history__table {
    margin-left: -30px;
    font-size: 14px;
  }
.header-container-mn   .pm-history__table table , .net-manager-new   .pm-history__table table , .monitoring-new   .pm-history__table table {
    width: 90%;
  }
.header-container-mn   .tab-logs , .net-manager-new   .tab-logs , .monitoring-new   .tab-logs {
    margin-left: -30px;
  }
.header-container-mn   .tab-logs table tr th , .net-manager-new   .tab-logs table tr th , .monitoring-new   .tab-logs table tr th {
    font-size: 14px;
  }
.header-container-mn   .tab-logs table tr td , .net-manager-new   .tab-logs table tr td , .monitoring-new   .tab-logs table tr td {
    font-size: 12px;
  }
.header-container-mn   .filer .title , .net-manager-new   .filer .title , .monitoring-new   .filer .title {
    font-size: 16px;
    padding-top: 20px;
  }
.header-container-mn   .tab-navs a , .net-manager-new   .tab-navs a , .monitoring-new   .tab-navs a {
    font-size: 17px;
    line-height: 40px;
    padding: 0 5px;
  }
.header-container-mn   .card-of-card_info , .net-manager-new   .card-of-card_info , .monitoring-new   .card-of-card_info {
    grid-template-columns: 50px auto;
    grid-template-areas: "title title" "tab tab" "ava cardslist";
    grid-row-gap: 30px;
    padding-right: 1px;
  }
.header-container-mn   .card-of-card_info .card-tab , .net-manager-new   .card-of-card_info .card-tab , .monitoring-new   .card-of-card_info .card-tab {
    margin-right: 15px;
  }
.header-container-mn   .breadcrumbs span , .net-manager-new   .breadcrumbs span , .monitoring-new   .breadcrumbs span {
    font-size: 12px;
  }
.header-container-mn   .btn-user , .net-manager-new   .btn-user , .monitoring-new   .btn-user {
    margin-right: 0;
  }
.header-container-mn   .users , .net-manager-new   .users , .monitoring-new   .users {
    width: 85%;
  }
}
@media screen and (max-width: 460px) {
.header-container-mn   .tech-data table , .net-manager-new   .tech-data table , .monitoring-new   .tech-data table {
    width: 70%;
  }
.header-container-mn   .tech-data2 table , .net-manager-new   .tech-data2 table , .monitoring-new   .tech-data2 table {
    width: 80%;
  }
.header-container-mn   .finance-data , .net-manager-new   .finance-data , .monitoring-new   .finance-data {
    margin-left: -30px;
  }
.header-container-mn   .finance-data table , .net-manager-new   .finance-data table , .monitoring-new   .finance-data table {
    width: 80%;
  }
.header-container-mn   .pm-history__table , .net-manager-new   .pm-history__table , .monitoring-new   .pm-history__table {
    font-size: 13px;
  }
.header-container-mn   .pm-history__table table , .net-manager-new   .pm-history__table table , .monitoring-new   .pm-history__table table {
    width: 80%;
  }
.header-container-mn   .users , .net-manager-new   .users , .monitoring-new   .users {
    width: 100%;
  }
}
@media screen and (max-width: 320px) {
.header-container-mn   .tech-data table , .net-manager-new   .tech-data table , .monitoring-new   .tech-data table {
    width: 57%;
  }
.header-container-mn   .tech-data2 table , .net-manager-new   .tech-data2 table , .monitoring-new   .tech-data2 table {
    width: 75%;
    font-size: 14px;
  }
.header-container-mn   .finance-data , .net-manager-new   .finance-data , .monitoring-new   .finance-data {
    margin-left: -30px;
  }
.header-container-mn   .finance-data table , .net-manager-new   .finance-data table , .monitoring-new   .finance-data table {
    width: 75%;
  }
.header-container-mn   .pm-history__table , .net-manager-new   .pm-history__table , .monitoring-new   .pm-history__table {
    font-size: 12px;
  }
.header-container-mn   .pm-history__table table , .net-manager-new   .pm-history__table table , .monitoring-new   .pm-history__table table {
    width: 58%;
  }
}