
    .grid-view-filter {
        position: relative;
        text-align: right;
        padding: 0;
        z-index: 100;
    }
    .journal-grid-view table th a {
        color: blue;
        font-weight: normal;
    }
    .journal-grid-view td.inline {
        white-space: nowrap;
    }
    .grid-view-filter .filter-menu {
        position: absolute;
        display: none;
        right: 0;
        background-color: white;
        border: 1px solid #dedede;
        padding: 6px;
    }
    .grid-view-filter .glyphicon,
    .glyphicon.banknote_nominals {
        cursor: pointer;
        font-size: 13px;
    }
    .grid-view-filter .filter-type .glyphicon.rotate90 {
        transform: rotate(90deg);
    }
    .grid-view-filter .filter-type.border {
        padding: 4px;
        border: 1px solid #bc8f8f;
        margin-bottom: 10px;
    }
    .grid-view-filter .filter-type {
        text-align: left;
    }
    .grid-view-filter .filter-group {
        display: none;
    }
    .grid-view-filter .form-button-group {
        text-align: center;
        margin-top: 16px;
    }
    .grid-view-filter .filter-value-container .filter-group {
        display: block;
    }
    .grid-view-filter .left-hyperlink {
        align: left;
        text-align: left;
        cursor: pointer;
        margin-bottom: -16px;
    }
    .grid-view-filter .order {
        align: left;
        text-align: left;
        cursor: pointer;
    }
    .grid-view-filter .order:hover {
        background-color: #f0f0f0;
    }
    .jlog-index table.table tr td {
        vertical-align: middle;
        text-align: center;
    }
    .jlog-index table.table tr th {
        text-align: center;
    }
    .jlog-index table.table .detail-view {
        margin: -8px;
    }
    .jlog-index table.table .detail-view tr td,
    .jlog-index table.table .detail-view tr th {
        max-width: 240px;
        white-space: normal;
    }
    .jlog-index #journal-pjax-container h1 {
        display:none;
    }